.crumbs {
  flex: 1 1;
  padding: 0 0.5rem 0 0.75rem;
  line-height: 1.35;
  hyphens: none;
}

@media (min-width: 1024px) {
  .crumbs {
    display: block;
  }
}

a + .crumbs {
  padding-left: 0.05rem;
}

.crumbs ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #0275d8;
}

.crumbs li {
  display: inline;
  margin: 0;
}

.crumbs li::after {
  content: "/";
  color: #333;
  padding: 0 0.5rem;
}

.crumbs li:last-of-type::after {
  content: none;
}
